@using Ecommerce.Entity
@model Supplier

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Edit", "Brand", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken();
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Brand</legend>
        @Html.HiddenFor(model => model.SupplierId)
       

        <div class="editor-label">
            @Html.LabelFor(model => model.CompanyName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CompanyName)
            @Html.ValidationMessageFor(model => model.CompanyName)
        </div>
        <hr />
        <p>
            <input type="submit" value="Save" class="btn btn-success"/>
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "List")
</div>