@using Ecommerce.Entity
@using Ecommerce.Repository

@model IEnumerable<OrderDetail>

@{
    ViewBag.Title = "DetailList";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<section id="cart_items">
    <div class="review-payment">
        <h2>Sepetim</h2>
    </div>

    <div class="table-responsive cart_info">
        <table class="table table-condensed">
            <thead>
                <tr class="cart_menu">
                    <td class="image">Ürün</td>
                    <td class="description"></td>
                    <td class="price">Birim Fiyat</td>
                    <td class="quantity">Adet</td>
                    <td class="total">Toplam Fiyat</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
            {
                MediaRepository mRep = new MediaRepository();
                ProductRepository pr = new ProductRepository();
                ProductMedia pm = new ProductMedia();
                Product p = new Product();

                pm.Photo = mRep.List().ProcessResult.Where(t => t.ProductId == item.ProductId).First().Photo;
                p = pr.GetObjById(item.ProductId).ProcessResult;
                    <tr>
                        <td class="cart_product">
                            <a href=""><img src="~/Images/@pm.Photo" alt="" width="100" height="100"></a>
                        </td>
                        <td class="cart_description">
                            <h4><a href="">@item.Product.ProductName</a></h4>
                        </td>
                        <td class="cart_price">
                            <h4>@string.Format("{0:#}₺", p.Price)</h4>
                        </td>
                        <td class="cart_quantity">
                            <div class="cart_quantity_button">
                                <a class="cart_quantity_up" href="~/Order/Add/@item.ProductId?quantity=1"> + </a>
                                <input class="cart_quantity_input" type="text" name="quantity" value="@item.Quantity" autocomplete="off" size="2" readonly>
                                <a class="cart_quantity_down" href="~/Order/QuantityDown/@item.ProductId"> - </a>
                            </div>
                        </td>
                        <td class="cart_total">
                            <p class="cart_total_price">@Html.Label(string.Format("{0:#}₺", item.Price))</p>
                        </td>
                        <td class="cart_delete">
                            <a class="cart_quantity_delete" href="~/Order/Delete/@item.ProductId"><i class="fa fa-times"></i></a>
                        </td>
                    </tr>
                }

                @{
                    Order o = (Order)Session["Order"];
                }
                @if (o.TotalPrice != 0)
                {
                    <tr>
                        <td colspan="4">&nbsp;</td>
                        <td colspan="2">
                            <table class="table table-condensed total-result">
                                <tr>
                                    <td>Sepet Tutarı</td>
                                    @if (o.TotalPrice - 10 >= 100)
                                    {
                                        <td><span>@Html.Label(string.Format("{0:#}₺", o.TotalPrice))</span></td>
                                    }
                                    else
                                    {
                                        <td><span>@Html.Label(string.Format("{0:#}₺", o.TotalPrice - 10))</span></td>
                                    }
                                </tr>
                                <tr class="shipping-cost">
                                    <td>Kargo Ücreti</td>
                                    @if (o.TotalPrice - 10 >= 100)
                                    {
                                        <td>Ücretsiz</td>
                                    }
                                    else
                                    {
                                        <td>10₺</td>
                                    }
                                </tr>
                                <tr>
                                    <td>Toplam Fiyat</td>
                                    <td><span>@Html.Label(string.Format("{0:#}₺", o.TotalPrice))</span></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">&nbsp;</td>
                        @{

                            if (User.Identity.IsAuthenticated)
                            {
                                <td colspan="2" style="float:right">
                                    <form method="get" action="~/Payment/Pay">
                                        <button type="submit" class="btn btn-fefault cart">
                                            <i class="fa fa-paypal"></i>
                                            Ödeme için Devam
                                        </button>
                                    </form>
                                </td>
                            }
                            else
                            {
                                <td colspan="2" style="float:right">
                                    <p>Ödeme yapmak için <a href="~/Home/Login">giriş</a> yapınız.</p>
                                </td>
                            }
                        }
                    </tr>
                            }
                            else
                            {
                                <tr>
                                    <td><h4>Sepetiniz Boş</h4></td>
                                </tr>
                            }
            </tbody>
        </table>
    </div>
</section>