@using Ecommerce.Areas.Admin.Models.ViewModel
@using Ecommerce.Entity

@model SliderViewModel
@{
    ViewBag.Title = "AddSlider";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm("AddSlider", "Slider", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <fieldset>
        <legend>Slider</legend>
        <div>
            @Html.DisplayNameFor(model => model.Slider.SliderHeader)
        </div>
        <div>
            @Html.EditorFor(model => model.Slider.SliderHeader, new { required = "required" })
        </div><hr />
        <div>
            @Html.DisplayNameFor(model => model.Slider.Description)
        </div>
        <div>
            @Html.EditorFor(model => model.Slider.Description, new { required = "required" })
        </div><hr />
            
        <label for="file1">Image</label>
        <input type="file" name="photo" id="photo" />

        <hr />
        <div>
            @Html.DisplayNameFor(model => model.Slider.CategoryId)
        </div>
        <div>
            @Html.DropDownListFor(model => model.Slider.CategoryId, Model.CategoryList)
        </div>
        @*<div>
            @Html.DisplayNameFor(model => model.Slider.BrandId)
        </div>
        <div>
            @Html.DropDownListFor(model => model.Slider.BrandId, Model.BrandList)
        </div><br />      
        <div>
            @Html.DisplayNameFor(model => model.Slider.ProductId)
        </div>
        <div>
            @Html.DropDownListFor(model => model.Slider.ProductId, Model.ProductList)
        </div>*@<hr />
        <div>
            <input type="submit" class="btn btn-success" value="Add Slider" />
        </div>
    </fieldset>
}