@using Ecommerce.Entity
@model User

@{
    ViewBag.Title = "EditPassword";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}

<div class="col-sm-4" style="margin-left:450px;">  
    <div class="signup-form">     
        <h2>Şifreyi Yenile</h2>
        <form action="~/Profile/EditPassword" method="post">
            @Html.HiddenFor(model => model.UserId)
            @Html.HiddenFor(model => model.UserRoleId)
            @Html.HiddenFor(model => model.Fullname)
            @Html.HiddenFor(model => model.Email)
            @Html.HiddenFor(model => model.Gender)
            @Html.HiddenFor(model => model.Username)
            @Html.HiddenFor(model => model.Photo)      
            @Html.EditorFor(model => model.Password , new { htmlAttributes = new { @type = "password" }})           
            <br />
            <button type="submit" style="float:right" class="btn btn-default">Değiştir</button>
        </form>
    </div>
</div>


